<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>users</key>
	<string>Usuários</string>
	<key>start</key>
	<string>Começar</string>
	<key>selectLanguage</key>
	<string>Selecione o idioma [PT]</string>
</dict>
</plist>
