<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LanguageSelection</key>
	<string>[FR]</string>
	<key>labeLocalizedFromStoryBoard</key>
	<string>labeLocalizedFromStoryBoard [FR]</string>
	<key>users</key>
	<string>Choisir la langue</string>
	<key>start</key>
	<string>Début</string>
	<key>selectLanguage</key>
	<string>Choisir la langue [FR]</string>
</dict>
</plist>
